.main-container {
  background-position: center;
  }
  
.main-container > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.main-container-content {
  z-index: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

a.decoded-safe-link::before {
  content: '🔗 ';
  margin-left: 0.5rem;
}
